/* Your CSS file (e.g., ImageSlideshow.css) */
.fullscreen-image {
    /* position: fixed; */
 
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    /* background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%); */
    /* align-items: center; */
  }
  
  .fullscreen-image img {
    width: 1350px;
    height: 900px;
    object-fit: cover; /* Maintain aspect ratio while covering the entire space */
  }
  
  .image-caption {
    position: absolute;
    top: 70%;
    left: 100px; /* Adjust the left position */
    transform: translateY(-50%);
    color: #ffffff;
    font-weight: bolder;
    text-transform: capitalize;
    /* Semi-transparent background */
    /* padding: 20px; */
    /* border-radius: 5px; */
    font-size: 40px;
    text-align: left;
  }
  
  /* Mainhomepage.css (adjust styles for 768px) */

/* For tablet screens (768px) */
@media screen  and (max-width: 768px) {
  .fullscreen-image {
    position: relative;
    padding: 20px;

    max-width: 100%;
  }

  .fullscreen-image img {
    max-width: 100%;
    height: auto;
  
  object-fit: fill;
  }

  .image-caption {
    /* position: absolute; */
    top: 90px; /* Adjust vertical position */
    left:63%; /* Center horizontally */
    transform: translateX(-60%); /* Center horizontally */
    text-align: left;
    /* padding: 10px; */
    /* Semi-transparent background */
    width: 80%; /* Adjust width */
    margin-bottom: 0px;
  }

  .image-caption h1{
    font-size: 24px;
   
  }
 

  .paragraph-split {
    font-size: 15px;
    /* color: purewhite; */
  }
}
 @media (min-width:769px) and (max-width:1236px)  {
  .fullscreen-image {
    position: relative;
    /* padding: 10px; */
    /* margin: 0 auto; */
    max-width: 100%;
  }
  .fullscreen-image img {
    max-width: 100%;
    height: auto;
    display: flex;
  }
 
  .image-caption h1{
    font-size: 24px;
   
  }
  
  .paragraph-split {
    font-size: 15px;
   
  }
} 